.hello{
  
    position: relative;
    background-color: whitesmoke;
    height: 100%;
  
}
.hello-1{
    margin-left: 10%;
    margin-right: 15%;
    height: 100%; 
}
.hello h1{
    margin-left: 15%;
}
.row1{
    margin-left: 0px;
}
input{
    margin-top: 3%;
}
input .form-control{
    height: 50px;
    width: 200px;
    border: 2px solid gray;
    background-color: lightgray;
}

.btn-1{
    background-color: skyblue;
    height: 40px;
    width: 130px;
    font-size: 14px;
    margin-left: 10%;
    margin-top: 10%;
}
.form-group h3{
    margin-left: 5%;
    margin-top: 5%;
}

.form-group{
    margin-left: 2px;
}
.fourty{
    width: 100%;
}

.detailtable {
  margin-left: 0px;
    width: 100%;
}


.id{
    width: 400px;
    margin-left: 5%;
}
.form-groupdetail{
    margin-left: 2px;
}
.hi, .number, .num1, .hi1{
    margin-bottom: 10px;
}

.footerhistory{
    color: snow;
    border: 2px solid black;
    margin-top: 2%;
    width: 1230px;
    margin-bottom: 0px;
}
.footerhistory button{
    height: 40px;
    width: 120px;
}
.od .row {
    display: flex;
    flex-direction: row;
}
.od{
    position: relative;
    background-color: whitesmoke;
    height: 800px;
width: 100%;
}
.od .row1{
    margin-left: 10%;
}
.od .detailtable{
    width: 50%;
    margin-left: 20%;
}
.od .btn-1{
    background-color: skyblue;
    height: 40px;
    width: 100px;
   
}
.od [type="submit"]{
    background-color: skyblue;
    height: 40px;
    width: 100px;
   
}
.od th {
    border: 1px solid #353333;
    text-align: left;
    padding: 8px;
    background-color: rgb(156, 154, 154);
    height: 50px;
    color: rgb(248, 241, 241);
    font-size: 12px;
    width: 60px;
  }
  
 .od td{
    border: 1px solid rgb(156, 154, 154);
    text-align: left;
    padding: 8px;
    background-color: rgb(237, 237, 245);
    height: 20px;
  }

  .ts{
      height: 1000px;
      position: relative;
      background: snow;
  }